<!DOCTYPE html>
<html lang="en">
<head>
	 <link rel="stylesheet" type='text/css' href="../../public/style.css">
	<title>Eat Da Burger!</title>

	<style>
		.container {background-color: aquamarine; 
					border: 2px dashed black; 
					border-radius: 5px; 
					padding: 10px;
					}
		button {background-color: orange; 
				color: white;}
		h1 {font-family: Courier New;}

	</style>

</head>
<body>
		{{{body}}}
	
</body>
</html>